/*===扩展图标===*/
.icon-password {
	background: url('icons/buttons/password.png') no-repeat;
}
.icon-recycle {
	background: url('icons/buttons/recycle.png') no-repeat;
}
.icon-status{
	background: url('icons/buttons/status.png') no-repeat;
}
.icon-status-show{
	background: url('icons/buttons/status_show.png') no-repeat;
}
.icon-status-hide{
	background: url('icons/buttons/status_hide.png') no-repeat;
}
.icon-gen-css{
	background: url('icons/buttons/gen_css.png') no-repeat;
}
.icon-force-logout{
	background: url('icons/buttons/force_logout.png') no-repeat;
}
.icon-default-group{
	background: url('icons/buttons/default_group.png') no-repeat;
}
.icon-default-group-setup{
	background: url('icons/buttons/default_group_setup.png') no-repeat;
}
.icon-default-group-cancel{
	background: url('icons/buttons/default_group_cancel.png') no-repeat;
}
.icon-master-site{
	background: url('icons/buttons/master_site.png') no-repeat;
}
.icon-weight{
	background: url('icons/buttons/weight.png') no-repeat;
}
.icon-download{
	background: url('icons/buttons/download.png') no-repeat;
}
.icon-export {
	background: url('icons/buttons/export.png') no-repeat;
}
.icon-import {
	background: url('icons/buttons/import.png') no-repeat;
}
.icon-publish {
	background: url('icons/buttons/publish.png') no-repeat;
}
.icon-reference {
	background: url('icons/buttons/reference.png') no-repeat;
}
.icon-preview {
	background: url('icons/buttons/preview.png') no-repeat;
}
.icon-history {
	background: url('icons/buttons/history.png') no-repeat;
}
.icon-verify {
	background: url('icons/buttons/verify.png') no-repeat;
}
.icon-connect {
	background: url('icons/buttons/connect.png') no-repeat;
}
.icon-disconnect {
	background: url('icons/buttons/disconnect.png') no-repeat;
}
.icon-scheduling {
	background: url('icons/buttons/scheduling.png') no-repeat;
}
.icon-pause {
	background: url('icons/buttons/pause.png') no-repeat;
}
.icon-resumed {
	background: url('icons/buttons/resumed.png') no-repeat;
}
.icon-note-add {
	background: url('icons/buttons/note_add.png') no-repeat;
}
.icon-note-delete {
	background: url('icons/buttons/note_delete.png') no-repeat;
}
.icon-note-edit {
	background: url('icons/buttons/note_edit.png') no-repeat;
}
.icon-note-error {
	background: url('icons/buttons/note_error.png') no-repeat;
}
.icon-note {
	background: url('icons/buttons/note.png') no-repeat;
}
.icon-memoranda-list {
	background: url('icons/buttons/memoranda_list.png') no-repeat;
}
.icon-memoranda-next {
	background: url('icons/buttons/memoranda_next.png') no-repeat;
}
.icon-memoranda-prev {
	background: url('icons/buttons/memoranda_previous.png') no-repeat;
}
.icon-memoranda-today {
	background: url('icons/buttons/memoranda_today.png') no-repeat;
}
.icon-pinyin {
	background: url('icons/buttons/pinyin.png') no-repeat;
}
.icon-attach {
	background: url('icons/buttons/attach.png') no-repeat;
}

.icon-image {
	background: url('icons/buttons/image.png') no-repeat;
}

.icon-film {
	background: url('icons/buttons/film.png') no-repeat;
}

.icon-flahs {
	background: url('icons/buttons/flash.png') no-repeat;
}

.icon-template {
	background: url('icons/buttons/template.png') no-repeat;
}

.icon-channel {
	background: url('icons/buttons/channel.png') no-repeat;
}

.icon-release {
	background: url('icons/buttons/release.png') no-repeat;
}

.icon-cookies {
	background: url('icons/buttons/cookies.png') no-repeat;
}

.icon-folder {
	background: url('icons/buttons/tree_folder.png') no-repeat;
}

.icon-table-edit {
	background: url('icons/buttons/table_edit.png') no-repeat;
}

.icon-table-pub {
	background: url('icons/buttons/table_pub.png') no-repeat;
}

.icon-channel-site {
	background: url('icons/buttons/channel_site.png') no-repeat;
}

.icon-channel-article {
	background: url('icons/buttons/channel_article.png') no-repeat;
}

.icon-channel-leader {
	background: url('icons/buttons/channel_leader.png') no-repeat;
}

.icon-channel-note {
	background: url('icons/buttons/channel_note.png') no-repeat;
}

.icon-channel-articlerefer {
	background: url('icons/buttons/channel_articlerefer.png') no-repeat;
}

.icon-channel-retrieval {
	background: url('icons/buttons/channel_retrieval.png') no-repeat;
}

.icon-channel-online {
	background: url('icons/buttons/channel_online.png') no-repeat;
}

.icon-channel-project {
	background: url('icons/buttons/channel_project.png') no-repeat;
}

.icon-channel-projectarticle {
	background: url('icons/buttons/channel_projectarticle.png') no-repeat;
}

.icon-channel-enterprise {
	background: url('icons/buttons/channel_enterprise.png') no-repeat;
}

.icon-channel-enterprisearticle {
	background: url('icons/buttons/channel_enterprisearticle.png') no-repeat;
}

.icon-channel-employe {
	background: url('icons/buttons/channel_employe.png') no-repeat;
}

.icon-channel-employearticle {
	background: url('icons/buttons/channel_employearticle.png') no-repeat;
}

.icon-sort {
	background: url('icons/buttons/sort.png') no-repeat;
}

.icon-winedit {
	background: url('icons/buttons/wintop.png') no-repeat;
}

.icon-down {
	background: url('icons/buttons/down.png') no-repeat;
}

.icon-up {
	background: url('icons/buttons/up.png') no-repeat;
}

.icon-up-down {
	background: url('icons/buttons/up_down.png') no-repeat;
}

.icon-copy {
	background: url('icons/buttons/copy.png') no-repeat;
}

.icon-move {
	background: url('icons/buttons/move.png') no-repeat;
}

.icon-review {
	background: url('icons/buttons/review.png') no-repeat;
}

.icon-reviewsubmit {
	background: url('icons/buttons/review_submit.png') no-repeat;
}

.icon-reviewprocess {
	background: url('icons/buttons/review_process.png') no-repeat;
}

.icon-publishok {
	background: url('icons/buttons/publish_ok.png') no-repeat;
}

.icon-publishrec {
	background: url('icons/buttons/publish_rec.png') no-repeat;
}

.icon-breakarticle {
	background: url('icons/buttons/breakarticle.png') no-repeat;
}

.icon-share {
	background: url('icons/buttons/share.png') no-repeat;
}

.icon-shareself {
	background: url('icons/buttons/shareself.png') no-repeat;
}

.icon-sortset {
	background: url('icons/buttons/sort_set.png') no-repeat;
}

.icon-sortclear {
	background: url('icons/buttons/sort_clear.png') no-repeat;
}

.icon-voteprivew {
	background: url('icons/buttons/voteprivew.png') no-repeat;
}

.icon-voteresult {
	background: url('icons/buttons/voteresult.png') no-repeat;
}

.icon-votedetail {
	background: url('icons/buttons/votedetail.png') no-repeat;
}

.icon-upload {
	background: url('icons/buttons/upload.png') no-repeat;
}

.icon-image-add {
	background: url('icons/buttons/image_add.png') no-repeat;
}

.icon-markread {
	background: url('icons/buttons/markread.png') no-repeat;
}

.icon-exit {
	background: url('icons/buttons/exit.png') no-repeat;
}

.icon-switch {
	background: url('icons/buttons/arrow_switch.png') no-repeat;
}

.icon-run {
	background: url('icons/buttons/run.png') no-repeat;
}

.icon-filter {
	background: url('icons/buttons/filter.png') no-repeat;
}

.icon-match {
	background: url('icons/buttons/match.png') no-repeat;
}

.icon-levels {
	background: url('icons/buttons/levels.png') no-repeat;
}

.icon-delgatherdata {
	background: url('icons/buttons/delgatherdata.png') no-repeat;
}

.icon-top {
	background: url('icons/buttons/top.png') no-repeat;
}

.icon-top-set {
	background: url('icons/buttons/top_set.png') no-repeat;
}

.icon-top-cancel {
	background: url('icons/buttons/top_cancel.png') no-repeat;
}

.icon-subscription-add {
	background: url('icons/buttons/subscription_add.png') no-repeat;
}

.icon-operate {
	background: url('icons/buttons/operate.png') no-repeat;
}

.icon-matter {
	background: url('icons/buttons/matter.png') no-repeat;
}

.icon-matter-add {
	background: url('icons/buttons/matter_add.png') no-repeat;
}

.icon-matter-del {
	background: url('icons/buttons/matter_delete.png') no-repeat;
}

.icon-citizen {
	background: url('icons/buttons/citizen.png') no-repeat;
}

.icon-citizen-add {
	background: url('icons/buttons/citizen_add.png') no-repeat;
}

.icon-citizen-del {
	background: url('icons/buttons/citizen_delete.png') no-repeat;
}

.icon-organ {
	background: url('icons/buttons/organ.png') no-repeat;
}

.icon-organ-add {
	background: url('icons/buttons/organ_add.png') no-repeat;
}

.icon-organ-del {
	background: url('icons/buttons/organ_delete.png') no-repeat;
}

.icon-resource-css {
	background: url('icons/buttons/resource_css.png') no-repeat;
}

.icon-resource-html {
	background: url('icons/buttons/resource_html.png') no-repeat;
}

.icon-resource-js {
	background: url('icons/buttons/resource_js.png') no-repeat;
}

.icon-resource-picture {
	background: url('icons/buttons/resource_picture.png') no-repeat;
}

.icon-resource-voide {
	background: url('icons/buttons/resource_voide.png') no-repeat;
}

.icon-resource-word {
	background: url('icons/buttons/resource_word.png') no-repeat;
}

.icon-resource-powerpoint {
	background: url('icons/buttons/resource_powerpoint.png') no-repeat;
}

.icon-resource-excel {
	background: url('icons/buttons/resource_excel.png') no-repeat;
}

.icon-zip-export {
	background: url('icons/buttons/zip_export.png') no-repeat;
}

.icon-zip-import {
	background: url('icons/buttons/zip_import.png') no-repeat;
}

.icon-paste {
	background: url('icons/buttons/paste.png') no-repeat;
}

.icon-save {
	background: url('icons/buttons/save.png') no-repeat;
}

.icon-applied-child {
	background: url('icons/buttons/applied_child.png') no-repeat;
}

.icon-force-operate {
	background: url('icons/buttons/force_operate.png') no-repeat;
}

.icon-refence {
	background: url('icons/buttons/refence.png') no-repeat;
}

.icon-visit-analysis {
	background: url('icons/buttons/visit_analysis.png') no-repeat;
}

.icon-connect {
	background: url('icons/buttons/connect.png') no-repeat;
}

.icon-clearimage{
	background: url('icons/buttons/clear_image.png') no-repeat;
}

.icon-full-screen{
	background: url('icons/buttons/full_screen.png') no-repeat;
}
.icon-resize-screen{
	background: url('icons/buttons/resize_screen.png') no-repeat;
}