/*===扩展图标===*/
.icon-password {
	background: url('icons/buttons/password.png') no-repeat;
}
.icon-recycle {
	background: url('icons/buttons/recycle.png') no-repeat;
}
.icon-status{
	background: url('icons/buttons/status.png') no-repeat;
}
.icon-status-show{
	background: url('icons/buttons/status_show.png') no-repeat;
}
.icon-status-hide{
	background: url('icons/buttons/status_hide.png') no-repeat;
}
.icon-gen-css{
	background: url('icons/buttons/gen_css.png') no-repeat;
}
.icon-force-logout{
	background: url('icons/buttons/force_logout.png') no-repeat;
}
.icon-default-group{
	background: url('icons/buttons/default_group.png') no-repeat;
}
.icon-default-group-setup{
	background: url('icons/buttons/default_group_setup.png') no-repeat;
}
.icon-default-group-cancel{
	background: url('icons/buttons/default_group_cancel.png') no-repeat;
}
.icon-preview {
	background: url('icons/buttons/preview.png') no-repeat;
}
.icon-download{
	background: url('icons/buttons/download.png') no-repeat;
}
.icon-memoranda-list {
	background: url('icons/buttons/memoranda_list.png') no-repeat;
}
.icon-memoranda-next {
	background: url('icons/buttons/memoranda_next.png') no-repeat;
}
.icon-memoranda-prev {
	background: url('icons/buttons/memoranda_previous.png') no-repeat;
}
.icon-memoranda-today {
	background: url('icons/buttons/memoranda_today.png') no-repeat;
}
.icon-subscription-add {
	background: url('icons/buttons/subscription_add.png') no-repeat;
}
.icon-markread {
	background: url('icons/buttons/markread.png') no-repeat;
}
.icon-exit {
	background: url('icons/buttons/exit.png') no-repeat;
}
.icon-visit-analysis {
	background: url('icons/buttons/visit_analysis.png') no-repeat;
}
.icon-operate {
	background: url('icons/buttons/operate.png') no-repeat;
}
.icon-weight{
	background: url('icons/buttons/weight.png') no-repeat;
}
.icon-connect {
	background: url('icons/buttons/connect.png') no-repeat;
}
.icon-cut{
	background: url('icons/buttons/cut.png') no-repeat;
}
