<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
          http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

	<!-- 如下实现是通过线程池执行的 -->
	<task:executor id="executor" pool-size="10" />

	<!-- spring工具类 方便在非spring管理环境中获取bean -->
	<bean id="springUtils" class="com.ewcms.common.utils.SpringUtils" />
</beans>
